#!{{ user_shell }}
HOME={{ user_home }}; export HOME; LOGNAME={{ user_to_become }}; export LOGNAME; USER={{ user_to_become }}; export USER
{% if run_login_scripts | default(0) %}
[ -z "$TERM" ] && { TERM=xterm; export TERM ;}
[ -r $HOME/.profile ] && . $HOME/.profile
#[ -r $HOME/.kshrc ] && . $HOME/.kshrc
{% endif %}
{{ command_to_run_dec64 }}
